.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.idea/
*.swp

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

**/bin/
**/obj/
**/[Bb]uild/
**/[Dd]ebug*/
**/[Rr]elease*/
**/x64/
**/x86/
**/TestResults/

**/appsettings.*.json.user
**/secrets.json
**/.env
**/*.snk

*.log
logs/
**/logs/
**/node_modules/
**/dist/
**/.angular/
**/.next
**/.nuxt/

**/.docker/
**/docker-data/
**/pgdata/
**/data/